name: Java JThumbnail Build
#
on: [ push, workflow_dispatch ]
#
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Download and extract OpenOffice
        run: |
          # Define the OpenOffice version you want to download
          OO_VERSION=4.1.15

          # Define the URL for the OpenOffice installation package ${OO_VERSION}
          OO_URL=https://downloads.apache.org/openoffice/${OO_VERSION}/binaries/en-US/Apache_OpenOffice_${OO_VERSION}_Linux_x86_install-rpm_en-US.tar.gz
          

          # Create the target directory
          mkdir -p ~/tools/soffice/

          # Download the OpenOffice package
          curl -L -o ~/tools/soffice/openoffice.tar.gz $OO_URL

          # Extract OpenOffice
          tar -xzf ~/tools/soffice/openoffice.tar.gz -C ~/tools/soffice/

          # Install OpenOffice (you may need to adapt this step depending on your requirements)
          sudo dpkg -i ~/tools/soffice/en-US/DEBS/*.deb

        working-directory: ${{ github.workspace }}

      - name: Build
        env:
          jthumbnailer.openoffice.dir: /opt/openoffice4/
        run: ./gradlew test

  publish:
#    needs: [ "build" ]
    if: contains(github.ref_name, 'dev/')
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Deploy to GitHub Packages
        uses: gradle/gradle-build-action@749f47bda3e44aa060e82d7b3ef7e40d953bd629
        with:
          arguments: publish
        env:
          GITHUB_USERNAME: makbn
          GITHUB_ACTOR: makbn
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
